<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>How I am learning Astro</h1>

    <p>This is how I am learning astro, by following their blog tutorial.</p>
</body>
